# compiled objects
*.o
*.so
*.dylib
*.exe

# ROOT files
*.root

# build directories
/numa/
/partons/
/elementary-utils/
/Pawel_partons_fits/
/partons-example/
DVCS_analysis/build/
DVCS_analysis/libtorch

#.txt files that don't need tracking
DVCS_analysis/CLAUDE.md
DVCS_analysis/implementation.txt
DVCS_analysis/plan.txt
DVCS_analysis/Partons_CFF_fit_implement.txt



# Log files
DVCS_analysis/bin/tmp/

# Collaborator fits
Pawel_partons_fits/

# macOS files
.DS_Store

# editor files
#*.swp
#*.swo

# temporary files
*~